<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragment :: head">
</head>
<body>

<!--导航-->
<nav th:replace="user/fragment :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>


<div class="m-container m-padded-tb-big animated fadeIn" style="padding-top: 1em !important;">
    <div class="ui container" style="width: 66%;">
        <div class="ui stackable grid fluid">
            <!--中间博客列表-->
            <div class="ten wide column">
                <div class="ui segment">

                </div>

                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">热门推荐</h3>
                        </div>
                    </div>
                </div>
                <div class="ui attached segment">
                    <div th:replace="user/fragment :: bloglist"></div>
                </div>
            </div>
            <!--右边的top-->
            <div class="five wide column left aligned">
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">公告</h3>
                        </div>
                    </div>
                </div>
                <div class="ui attached segment">
                    <div class="ui segment" th:each="notice : ${noticeList}">
                        <div class="ui divided items">
                            <div class="item">
                                <!-- 公告标题 -->
                                <div class="content">
                                    <a class="header" th:text="${notice.title}" style="font-weight: bold;"></a>
                                    <!-- 公告内容 -->
                                    <div class="description" th:text="${notice.content}"></div>
                                </div>
                            </div>
                            <div class="item">
                                <!-- 公告创建时间 -->
                                <div class="content">
                                    <div class="description">
                                        <i class="calendar icon"></i><span th:text="${#dates.format(notice.createTime,'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

</body>
</html>
